{% extends "layout/base.html" %}

{% block title %}Password Updated{% endblock %}

{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Password Updated</h3>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p>Your account password has been updated.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
