{% extends "layout/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Password Reset</h3>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <p>Enter your account email. We will send a password reset link.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Send reset link</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
